<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 24-02-2021</title>
</head>
<body>
    <div class="container" >
<br><br>
  <br>
<h2>Formulário</h2><br>
	<form action="/cadNome" method="POST">
    	<div class="form-row">
			<div class="form-group col-md-6">
				<input type="text"  class="form-control" placeholder="Nome Completo" name="nome">
			</div>
      <div class="form-group col-md-1 ">
				<button type="submit" class="btn btn-primary botao">Cadastrar</button>
			</div>
		</div>

			
	</form>
			

		<br><br><br><br><br>
		<table class="table" >
    <tr>
        <th>Nome</th>
    </tr>
    {{#each nome}}
    
         <tr>
             <td>{{nome}}</td>
             <td><a href="/updateNome/{{id}}" class="btn btn-warning">Editar</a></td>

			 <form method="POST" action="/deleteNome" style="display : inline;" onsubmit="confirmarDelecao(event, this)"> 
                <input type="hidden" name="id" value="{{id}}">
                <td><button class="btn btn-danger" >Excluir</button></td>
              </form>
         </tr>
    {{/each}}
    </table>


	<br><br><br>

  </div>
    <script>
  function confirmarDelecao(event, form){
    event.preventDefault();
    var decision = confirm("Tem certeza que deseja excluir?")
    if(decision){
      form.submit();
    }
  }
</script>
    
</body>
</html>